<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои подписки</title>
</head>
<body>
  <div th:replace="~{fragments/header}"></div>
  <div class="container">
      <div class="row">
          <div class="col-sm">
              <h3>Лига</h3>
          </div>
          <div class="col-sm">
              <h3>Стоимость</h3>
          </div>
          <div class="col-sm">
              <h3>Период</h3>
          </div>
      </div>
  </div>

        <div th:each="s : ${subscriptions}">
            <div class="container">
                <div class="row">

                    <div class="col-sm">

                        <span th:text="${s.league.name}"></span>
                    </div>

                    <div class="col-sm">

                        <span th:text="${s.cost}"></span>
                    </div>

                    <div class="col-sm">
                        <span th:text="${s.period}"></span>
                    </div>

                </div>
            </div>
        </div>


</body>

</html>