<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Трансляции</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3>Лига</h3>
        </div>
        <div class="col-sm">
            <h3>Стоимость</h3>
        </div>
        <div class="col-sm">
            <h3>Период</h3>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

<div th:each="subscription : ${subscriptions}">
    <div class="container">
        <div class="row">

            <div class="col-sm">

                <span th:text="${subscription.league.name}"></span>
            </div>

            <div class="col-sm">

                <span th:text="${subscription.cost}"></span>
            </div>

            <div class="col-sm">
                <span th:text="${subscription.period}"></span>
            </div>

            <div class="col-sm" th:if="${session.userId != null}">
                <form th:action="@{/subscriptions/add-to-user/{id}(id=${subscription.id})}" th:method="post">
                    <input type="submit" value="Подписаться" class="btn btn-primary">
                </form>
            </div>

            <div class="col-sm" th:if="${session.isAdmin == true}">
                <button type="button" class="btn btn-warning">
                    <a th:href="@{/subscriptions/update/{id}(id=${subscription.id})}" style="text-decoration: none;">
                        Редактировать
                    </a>
                </button>
            </div>

            <div class="col-sm" th:if="${session.isAdmin == true}">
                <form th:action="@{/subscriptions/delete/{id}(id=${subscription.id})}"
                      th:method="post">
                    <input type="submit" value="Удалить" class="btn btn-danger">
                </form>
            </div>

        </div>

    </div>
</div>

<div class="container" th:if="${session.isAdmin == true}">
    <div class="row">
        <div class="col-10"></div>
        <div class="col-4">
            <button type="button" class="btn btn-success">
                <a th:href="@{/subscriptions/add}" class="text-decoration-none">
                    Создать подписку
                </a>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-10"></div>
        <div class="col-4">
            <button type="button" class="btn btn-success">
                <a th:href="@{/leagues/add}" class="text-decoration-none">
                    Добавить лигу
                </a>
            </button>
        </div>
    </div>

</div>

</body>
</html>