<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Upgrade Subscription</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/header}"></div>
    <div class="create-form__wrapper container-1100">
        <h1 class="create-form__header">Обновление подписки</h1>
        <form class="form-create-subscription" th:action="@{/subscriptions/{id}(id=${updateSubscription.id})}"
              th:object="${updateSubscription}" method="put">

            <div class="form-update-subscription_cost">
                <label>Цена</label><br>
                <textarea class="subscription__content" type="text" th:field="*{cost}"></textarea>
            </div>

            <div class="form-update-subscription_period">
                <label>Период</label><br>
                <textarea class="subscription__period" type="text" th:field="*{period}"></textarea>
            </div>
        </form>
    </div>
</div>
</body>
</html>