<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Трансляции</title>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{fragments/header}"></div>
    <main class="publications__main-content container-900">
        <div class="main-center">

            <div th:each="subscription : ${subscriptions}">

                <div>
                    <span th:text="${subscription.league.name}"></span>
                </div>

                <div>
                    <span th:text="${subscription.cost}"></span>
                </div>

                <div>
                    <span th:text="${subscription.period}"></span>
                </div>


                <form th:if="session.userId != null" th:action="@{/subscribtions/add-to-user}" th:method="post"
                      th:object="${subscription}">
                    <input type="submit" value="Подписаться">
                </form>

                <div>
                    <nav th:if="${session.userId == 1}">
                        <a th:href="@{/subscriptions/update/{id}(id=${subscription.id})}">
                            <h3>Редактировать подписку</h3>
                        </a>
                    </nav>
                </div>


                <div th:if="${session.userId == 1}">
                    Удалить подписку
                    <script>
                        function deleteSubscription(subscriptionId) {
                            fetch('/subscriptions/${subscriptionId}', {
                                method: 'DELETE'
                            })
                            window.location = "/subscriptions"
                        }
                    </script>
                </div>

            </div>

            <nav><a th:if="${session.userId ==1 }"  th:href="@{/subscriptions/add}">
                <label>
                    Создать подписку
                </label>
            </a></nav>

        </div>
    </main>

    <footer th:replace="fragments/footer"></footer>
</div>
</body>
</html>