<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<div th:fragment="header" class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a th:href="@{/main}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">


            <span class="fs-4">BasketLife</span>
        </a>

        <ul class="nav nav-pills">

            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                <a th:href="@{/translations}" class="nav-link active">
                    Трансляции
                </a>
                </button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn btn-primary">
                <a th:href="@{/subscriptions}" class="nav-link active">
                    Подписки
                </a>
                </button>
            </li>

            <li class="nav-item" th:if="${session.userId} != null">
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/subscriptions/my-subscriptions}" class="nav-link active">
                        Мои подписки
                    </a>
                </button>
            </li>

            <li class="nav-item" th:if="${session.userId} != null">
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/translations/my-translations}" class="nav-link active">
                        Мои трансляции
                    </a>
                </button>
            </li>

        </ul>

        <!--      <nav><a th:href="@{/translations}"><button type="button" class="btn btn-primary">Трансляции</button></a></nav>-->
        <!--      <nav><a th:href="@{/subscriptions}"><button type="button" class="btn btn-primary">Подписки</button></a></nav>-->
        <!--        <nav th:if="${session.userId} != null"><a th:href="@{/subscriptions/my-subscriptions}">-->
        <!--         <button type="button" class="btn btn-warning">Мои подписки</button>-->
        <!--        </a></nav>-->
        <!--        <nav th:if="${session.userId} != null"><a th:href="@{/translations/my-translations}">-->
        <!--            <button type="button" class="btn btn-warning">Мои трансляции</button>-->
        <!--        </a></nav>-->

        <div>
            <div th:if="${session.userId == null}">
                <button type="button" class="btn btn-success">
                    <a  class="header__sign-in btn" th:href="@{/sign-in}">
                        Войти
                    </a>
                </button>
            </div>
            <div th:unless="${session.userId == null}">
                <button type="button" class="btn btn-danger">
                    <a  class="header__logout btn" th:href="@{/logout}">
                        Выйти
                    </a>
                </button>
            </div>
        </div>
    </header>
</div>