<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание трансляции</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<main class="translation-main container-1100">
    <div class="translation-form_wrapper">
        <h1 class="translation-main_wrapper"></h1>
        <form class="translation-form" th:action="@{/translations}" th:object="${translation}" method="post">
            <input type="text" th:field="*{guestTeam}" placeholder="Гостевая команда" required/>
            <input type="text" th:field="*{lastName}" placeholder="Домашняя команда" required/>
            <input type="date" th:field="*{cardNumber}" placeholder="Дата начала" required/>
            <input type="time" th:field="*{email}" placeholder="Время начала" required/>
            <input type="submit" value="Зарегистрироваться"/>
        </form>
    </div>
</main>
</body>
</html>